<!-- component -->
<div class="px-5 min-h-screen flex flex-col justify-center">
  <div
    class="container max-w-md mx-auto xl:max-w-3xl h-full flex bg-white rounded-lg shadow-md border border-gray-100 overflow-hidden"
  >
    <div class="w-full xl:w-1/2 p-8">
      <div
        *ngIf="errorMessage"
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4"
        role="alert"
      >
        <strong class="text-sm font-bold">ERROR : </strong>
        <p class="block sm:inline text-sm">{{ errorMessage }}</p>
      </div>
      <form (ngSubmit)="onSubmit()">
        <h1 class="text-2xl font-bold">Create your account</h1>
        <div>
          <span class="text-gray-600 text-sm"> Already have an account? </span>
          <a class="text-indigo-500 text-sm font-semibold" routerLink="/signIn">
            Sign in
          </a>
        </div>
        <div class="mb-4 mt-6">
          <label
            class="block text-gray-700 text-sm font-semibold mb-2"
            htmlFor="email"
          >
            Email
          </label>
          <input
            class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10"
            id="email"
            type="text"
            name="email"
            placeholder="Your email address"
            [(ngModel)]="formData.emailInput"
            required
          />
        </div>
        <div class="mb-6 mt-6">
          <label
            class="block text-gray-700 text-sm font-semibold mb-2"
            htmlFor="password"
          >
            Password
          </label>
          <input
            class="text-sm bg-gray-200 appearance-none rounded w-full py-2 px-3 text-gray-700 mb-1 leading-tight focus:outline-none focus:shadow-outline h-10"
            id="password"
            type="password"
            name="password"
            placeholder="Your password"
            [(ngModel)]="formData.passwordInput"
            required
          />
        </div>
        <div class="mb-6 mt-6">
          <label
            class="block text-gray-700 text-sm font-semibold mb-2"
            htmlFor="password"
          >
            Confirm Password
          </label>
          <input
            class="text-sm bg-gray-200 appearance-none rounded w-full py-2 px-3 text-gray-700 mb-1 leading-tight focus:outline-none focus:shadow-outline h-10"
            id="Confirm-password"
            type="password"
            name="confirm-password"
            placeholder="Confirm Password"
            [(ngModel)]="formData.confirmPasswordInput"
            required
          />
        </div>
        <div class="flex w-full mt-8">
          <button
            class="w-full bg-gray-800 hover:bg-grey-900 text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10"
            type="submit"
          >
            Sign up
          </button>
        </div>
      </form>
    </div>
    <div class="relative hidden xl:block xl:w-1/2 h-full">
      <img
        class="absolute h-auto w-full object-cover"
        src="https://images.unsplash.com/photo-1541233349642-6e425fe6190e"
        alt="card photo"
      />
    </div>
  </div>
</div>
