<!-- component -->
<a
  href="{{ data.link }}"
  class="relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-lg shadow px-5 py-3 max-w-xs md:max-w-3xl mx-auto border border-white bg-white"
>
  <div class="w-full md:w-1/3 bg-white grid place-items-center">
    <img src="{{ data.media }}" alt="tailwind logo" class="rounded-lg" />
  </div>
  <div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3">
    <div class="flex justify-between item-center mb-2">
      <p class="text-gray-500 font-medium hidden md:block">
        {{ data.author || "Unknown" }}
      </p>
      <div class="flex items-center">
        <p class="text-gray-600 font-bold text-sm ml-1">
          {{ data.published_date | date : "yyyy/MM/dd - HH:mm" }}
        </p>
      </div>
      <div
        class="bg-gray-200 px-3 py-1 rounded-full text-xs font-medium text-gray-800 hidden md:block"
      >
        {{ data.topic }}
      </div>
    </div>
    <h3 class="font-black text-gray-800 md:text-xl text-lg line-clamp-2">
      {{ data.title }}
    </h3>
    <p class="md:text-lg text-gray-500 text-base line-clamp-3">
      {{ data.summary }}
    </p>
    <p class="text-lg font-bold text-gray-800">
      {{ data.country }} - {{ data.clean_url }}
    </p>
  </div>
</a>
