<app-container>
  <form
    class="mt-14 flex flex-col items-center gap-4"
    (ngSubmit)="submitForm()"
  >
    <div
      *ngIf="errorMessage"
      class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4"
      role="alert"
    >
      <strong class="text-sm font-bold">ERROR : </strong>
      <p class="block sm:inline text-sm">{{ errorMessage }}</p>
    </div>
    <div class="w-full md:w-1/2 flex items-center gap-3">
      <input
        class="flex-1 px-5 py-3 border shadow rounded-full"
        [(ngModel)]="formData.keyword"
        type="text"
        name="keywordSearch"
        id="keywordSearch"
        placeholder="Search your keyword in news . . . "
      />
      <button
        type="submit"
        class="text-white font-medium rounded-full px-5 py-3 bg-indigo-500 shadow"
      >
        Search
      </button>
    </div>
    <div class="flex items-center gap-3">
      <select
        class="px-3 py-2 border shadow-sm rounded-md text-sm"
        name="country"
        id="country"
        [(ngModel)]="formData.country"
      >
        <option value="" hidden>Country</option>
        <option
          *ngFor="let country of countries_options | keyvalue"
          value="{{ country.key }}"
        >
          {{ country.value }}
        </option>
      </select>
      <select
        class="px-3 py-2 border shadow-sm rounded-md text-sm"
        name="category"
        id="category"
        [(ngModel)]="formData.category"
      >
        <option value="" hidden>Category</option>
        <option *ngFor="let topic of topic_options" value="{{ topic }}">
          {{ topic }}
        </option>
      </select>
      <select
        class="px-3 py-2 border shadow-sm rounded-md text-sm"
        name="lang"
        id="lang"
        [(ngModel)]="formData.lang"
      >
        <option value="" hidden>Language</option>
        <option *ngFor="let lang of lang_options" value="{{ lang.value }}">
          {{ lang.text }}
        </option>
      </select>
    </div>
  </form>
  <div class="flex-1 mt-16 mb-14 flex flex-col items-center gap-6">
    <h3 class="font-semibold text-3xl mb-10">{{ searchTitle }}</h3>
    <app-news-card
      *ngFor="let story of topStories"
      [data]="story"
    ></app-news-card>
  </div>
</app-container>
